﻿



<form style="margin-top:50px;" action="~/Default/Index" method="post">
    <table width="150" border="1" style="margin:auto">
        <tbody >
            <tr>
                <td colspan="5">
                    <input id="Text1" name="screen" value="0" inputmode="numeric" type="text" maxlength="10" style="width:100%; text-align:right" required />
                </td>
            </tr>
            <tr>
                <td><button type="button"  style="width:100%" onclick="addNumber(7)">7</button></td>
                <td><button type="button" style="width:100%" onclick="addNumber(8)">8</button></td>
                <td><button type="button" style="width:100%" onclick="addNumber(9)">9</button></td>
                <td><button style="width:100%">/</button></td>
            </tr>
            <tr>
                <td><button type="button" style="width:100%" onclick="addNumber(4)">4</button></td>
                <td><button type="button" style="width:100%" onclick="addNumber(5)">5</button></td>
                <td><button type="button" style="width:100%" onclick="addNumber(6)">6</button></td>
                <td><button  style="width:100%">*</button></td>
            </tr>
            <tr>
                <td><button type="button" style="width:100%"onclick="addNumber(1)" >1</button></td>
                <td><button type="button" style="width:100%" onclick="addNumber(2)">2</button></td>
                <td><button type="button" style="width:100%" onclick="addNumber(3)">3</button></td>
                <td><button style="width:100%">-</button></td>
            </tr>
            <tr>
                <td colspan="2"><button type="button" style="width:100%" onclick="addNumber(0)">0</button></td>
                <td><button type="button" style="width:100%" onclick="addNumber('.')" >.</button></td>
                <td><button style="width:100%">+</button></td>
               
            </tr>
            <tr>
                <td colspan="3"><button type="submit" name="operation" value="equals"  style="width:100%">=</button></td>
                <td ><button  type="button" style="width:100%" onclick="clear_()">c</button></td>
               
            </tr>
        </tbody>
    </table>
</form>
<script type="text/javascript">
    function addNumber(number) {
        if (document.getElementById("Text1").value.indexOf('.')!=-1 && number == '.') return;
        if (document.getElementById("Text1").value == "0.") {
            document.getElementById("Text1").value += number;
            return;
        }
        if (document.getElementById("Text1").value == 0) {
            if (number == '.') { document.getElementById("Text1").value = "0."; return; }
            document.getElementById("Text1").value = number;
            return;
        }

        var currentNumber = document.getElementById("Text1").value;
        if (currentNumber < 999999999) {
            currentNumber += number;
            document.getElementById("Text1").value = currentNumber;
        }
    };
    function clear_() {

       
        document.getElementById("Text1").value = 0;

    }
   
</script>

